<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="icon" href="favicon.ico?v=1.1">

    <style>
      /* Custom CSS */
      body{
/* For browsers that do not support gradients */

  /* Menentukan warna gradient */
  background-image: linear-gradient(to right, rgb(228, 100, 174), rgb(163, 95, 241));
;
      background-image: linear-gradient(to right, rgb(228, 100, 174) , rgb(163, 95, 241));
    }
      .box-container {
        border: 1px solid #ccc;
        padding: 15px;
        display: flex;
        align-items: center;
      }
      .box-icon {
        font-size: 24px;
        margin-right: 10px;
      }
      .box-content {
        flex-grow: 1;
      }
      h3,span{
        position: relative;
        left: 10px;
      }
      /* Responsive Styles */
      @media (max-width: 576px) {
        .box-container {
          flex-direction: column;
        }
        .box-icon {
          margin-right: 0;
          margin-bottom: 10px;
        }
      }
    </style>
</head>
<body>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!-- isi konten -->

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap-extended.min.css">
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/fonts/simple-line-icons/style.min.css">
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/colors.min.css">
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

<center>
  <!-- <img src="img/logo_app_violet.png" alt="Foto Profil" class="img-fluid rounded-circle"> -->
<i style="position: relative; top: 40px; color: #ffffff;" class="icon-user font-large-2 float-center "></i>
<div class="grey-bg container-fluid">
  <section id="minimal-statistics">
    <div class="row">
      <div class="col-12 mt-3 mb-1">
        <h4 style="color: #ffffff;"></i>Selamat datang di violet!</h4>
        <h4 class="text-uppercase" style="color: #ffffff;"></i><%= nama %></h4>
        <button type="button" class="btn btn-primary rounded-pill"  data-toggle="modal" data-target="#absen_modal">
        <% if (absen[3]){
          %>
          <h1><%=absen[3]%></h1>
        <%} else{%>
          <h1>sadsadas</h1>
        <%}%>
      </button>
        <p style="color: #ffffff;">-MENU-</p>
      </div>
    </div>
  </center>
  <div class="container">
    <div class="row">
      <div class="col-xl-3 col-sm-6 col-12">
        <a href="/pilih_absen">
        <div class="card">
          <div class="card-body">
            <div class="media">
              <i class="icon-frame success font-large-2"></i>
              <div class="media-body text-left">
                <h3 class="success">Scan Absen</h3>
                <span>Absen Scan Di sini</span>
              </div>
            </div>
          </div>
        </div>
      </a>
      </div>
      <div class="col-xl-3 col-sm-6 col-12">
        <a href="/form_izin">
        <div class="card">
          <div class="card-body">
            <div class="media">
              <i class="icon-note font-large-2"></i>
              <div class="media-body text-left">
                <h3>Form Izin</h3>
                <span>form izin sakit dan cuti</span>
              </div>
            </div>
          </div>
        </div>
      </a>
      </div>
      <div class="col-xl-3 col-sm-6 col-12">
        <a href="/data_absen">
        <div class="card">
          <div class="card-body">
            <div class="media">
              <i class="icon-notebook font-large-2 text-primary"></i>
              <div class="media-body text-left text-primary">
                <h3>Rekap Absen</h3>
                <span>Rekap Absen anda</span>
              </div>
            </div>
          </div>
        </div>
      </a>
      </div>
      <% if(divisi === "HRD"){%>
        <div class="col-xl-3 col-sm-6 col-12">
          <a href="/buat_akun_karyawan">
          <div class="card">
            <div class="card-body">
              <div class="media">
                <i class="icon-user-follow font-large-2 text-dark"></i>
                <div class="media-body text-left">
                  <h3 class="text-dark">Buat Akun</h3>
                  <span class="text-dark">Buat Akun karyawan</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        </div>
        <div class="col-xl-3 col-sm-6 col-12">
          <a href="/data_akun_karyawan">
          <div class="card">
            <div class="card-body">
              <div class="media">
                <i class="icon-users font-large-2"></i>
                <div class="media-body text-left">
                  <h3>Data Akun</h3>
                  <span>Melihat Data Akun Karyawan</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        </div>
        <%}%>
      <div class="col-xl-3 col-sm-6 col-12" data-toggle="modal" data-target="#logout_modal">
        <div class="card">
          <div class="card-body warning">
            <div class="media">
              <i class="icon-logout warning font-large-2"></i>
              <div class="media-body text-left">
                <h3>LogOut?</h3>
                <span>tekan tombol ini untuk logout</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Tambahkan kartu lainnya di sini -->
    </div>
  </div>
  



<!-- Modal logout -->
<div class="modal fade" id="logout_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Logout</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        apakah anda ingin Logout?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
        <a style="color: #ffffff;" href="/logout" class="btn btn-warning">Yes! Logout!</a>
      </div>
    </div>
  </div>
</div>

<!-- Modal untuk lihat absen -->
<div class="modal fade" id="absen_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        Data Absen
      </div>
      <div class="modal-body">
        apakah anda ingin Logout?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
        <a style="color: #ffffff;" href="/logout" class="btn btn-warning">Yes! Logout!</a>
      </div>
    </div>
  </div>
</div>


<!-- batas isi konten -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
</body>
</html>