<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html5-qrcode/2.3.4/html5-qrcode.min.js" integrity="sha512-k/KAe4Yff9EUdYI5/IAHlwUswqeipP+Cp5qnrsUjTPCgl51La2/JhyyjNciztD7mWNKLSXci48m7cctATKfLlQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>

<div style="position: absolute" id="qr-reader"></div>
<script>
  function onScanSuccess(decodedText, decodedResult) {
    const testing = decodedText;
    console.log(testing);
    if(decodedText=="https://me-qr.com/lTNdh2HG"){
      // location="/home";
      alert(`absen gw ini${decodedText}`);
    }
    else{
      alert(`ini bukan absen gw${decodedText}`)
    }
  }

  var html5QrcodeScanner = new Html5QrcodeScanner(
    "qr-reader", { fps: 10, qrbox: 250, cameraScanImage: './path/to/camera-scan.gif' }
  );

  html5QrcodeScanner.render(onScanSuccess);
</script>



</body>
</html>
