<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="favicon.ico?v=1.1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
      /* Custom CSS */
      body{
        background-image: linear-gradient(to right, rgb(228, 100, 174) , rgb(163, 95, 241));

      }
      .box-container {
        border: 1px solid #ccc;
        padding: 15px;
        display: flex;
        align-items: center;
      }
      .box-icon {
        font-size: 24px;
        margin-right: 10px;
      }
      .box-content {
        flex-grow: 1;
      }
      h3,span{
        position: relative;
        left: 10px;
      }
      /* Responsive Styles */
      @media (max-width: 576px) {
        .box-container {
          flex-direction: column;
        }
        .box-icon {
          margin-right: 0;
          margin-bottom: 10px;
        }
      }
    </style>
</head>
<body>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!-- isi konten -->

<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap-extended.min.css">
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/fonts/simple-line-icons/style.min.css">
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/colors.min.css">
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

<center>
<i style="position: relative; top: 40px;" class="icon-user font-large-2 float-center "></i>
<div class="grey-bg container-fluid">
  <section id="minimal-statistics">
    <div class="row">
      <div class="col-12 mt-3 mb-1">
        <h4 class="text-uppercase text-success"></i>Mau Absen ?</h4>
        <h4 class="text-uppercase text-info"></i></h4>
        <p>-MENU-</p>
      </div>
    </div>
  </center>
  <div class="container">
    <div class="row">
      <% if(jam_absen_masuk===false && jam_absen_pulang===false) { %>
        <div class="col-xl-3 col-sm-6 col-12">
          <a href="/scan_absen_masuk">
            <div class="card">
              <div class="card-body">
                <div class="media">
                  <i class="icon-camera success font-large-2"></i>
                  <div class="media-body text-left">
                    <h3 class="success">Mau Scan Absen Masuk?</h3>
                    <span>Absen Scan Di sini</span>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      <% } else if (jam_absen_masuk===true && jam_absen_pulang===false) { %>
        <div class="col-xl-3 col-sm-6 col-12">
          <a href="/scan_absen_pulang">
            <div class="card">
              <div class="card-body">
                <div class="media">
                  <i class="icon-camera success font-large-2"></i>
                  <div class="media-body text-left">
                    <h3>Absen Pulang</h3>
                    <span>Apakah anda ingin absen pulang?</span>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>

      <% } else { %>
       anda sudah absen pulang pergi!!!
      <% } %>
<!--       
      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
          <div class="card-body">
            <div class="media">
              <i class="icon-speech warning font-large-2"></i>
              <div class="media-body text-left">
                <h3>New Comments</h3>
                <span>Tampilkan komentar terbaru</span>
              </div>
            </div>
          </div>
        </div>
      </div>
 Tambahkan kartu lainnya di sini -->
    </div>
  </div> 
  
<!-- batas isi konten -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
</body>
</html>