<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html5-qrcode/2.3.4/html5-qrcode.min.js" integrity="sha512-k/KAe4Yff9EUdYI5/IAHlwUswqeipP+Cp5qnrsUjTPCgl51La2/JhyyjNciztD7mWNKLSXci48m7cctATKfLlQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <style>
    body {font-family: Arial, Helvetica, sans-serif;}
    
    a{
      color: white;
      text-decoration: none;
      padding: 10px;
      background-color: purple;
    }

    /* The Modal (background) */
    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    
    /* Modal Content */
    .modal-content {
      background-color: #fefefe;
      margin: auto;
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
    }
    
    /* The Close Button */
    .close {
      color: #aaaaaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }
    </style>
</head>
<body>

  
<div style="position: absolute;" id="qr-reader"></div>


<script>
  function onScanSuccess(decodedText, decodedResult) {

    const contoh=decodedText;
    if(contoh=="https://me-qr.com/lTNdh2HG"){
      // tutup_scan();
          if (confirm("apakah anda ingi absen?")) {
            location="data_absen_masuk_karyawan?lokasi=Kantor Grand wisata";
    } else {
      txt = "You pressed Cancel!";
    }
    }
    //untuk zamrud
    else if(contoh=="https://me-qr.com/IiwsApPD"){
      // tutup_scan();
      if (confirm("apakah anda ingin absen")) {
        location="data_absen_masuk_karyawan?lokasi=zamrud";
      } else {
      txt = "You pressed Cancel!";
        }
    }
    else{
      // conosle.log(decodedText);
      alert(`ini bukan absen Violet!!!!${decodedText}`)
    }
  }

  var html5QrcodeScanner = new Html5QrcodeScanner(
    "qr-reader", { fps: 10, qrbox: 250, cameraScanImage: './path/to/camera-scan.gif' }
  );

  html5QrcodeScanner.render(onScanSuccess);

function tutup_scan(){
  document.getElementById("qr-reader").style.display = "none";
}

</script>



</body>
</html>
