<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome Page</title>
  <style>
    
    body {
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      background-image: url('/img/foto_welcome.jpg'); /* Ganti 'link_gambar_background.jpg' dengan URL gambar latar belakang Anda */
      background-size: cover;
      background-position: center;
      color: white;
      font-family: 'Arial', sans-serif;
      overflow: hidden;
    }

    #welcomeContainer {
      text-align: center;
      animation: fadeInUp 1.5s ease-out;
    }

    h1 {
      margin-bottom: 20px;
    }

    .gabung {
      display: inline-block;
      color: white;
      text-decoration: none;
      padding: 10px 20px;
      border-radius: 5px;
      background-image: linear-gradient(to right, rgb(228, 100, 174), rgb(163, 95, 241));
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      transition: background-image 0.3s ease-out;
    }

    .gabung:hover {
      background-image: linear-gradient(to right, rgb(163, 95, 241), rgb(228, 100, 174));
    }

    @keyframes fadeInUp {
      0% {
        opacity: 0;
        transform: translateY(20px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
  </style>
</head>
<body>
  <div id="welcomeContainer">
    <h1>Selamat datang di keluarga besar Violet</h1>
    <a class="gabung" href="/login">Gabung?</a>
  </div>

  <script>
    // Tambahkan animasi tambahan jika diperlukan
  </script>
</body>
</html>
